@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Aleo:wght@300;400;600&family=Brawler:wght@400;700&family=Spectral:ital,wght@0,200;0,400;0,700;0,800;1,400&display=swap");

main {
  min-height: 80vh;
}

.btn-primary {
  background-color: #c40a13;
  border-color: #c40a13;
}

.btn-primary:hover {
  background-color: #89070d !important;
  border-color: #89070d !important;
}

a {
  color: #023b4d;
  text-decoration: none;
}

a:hover {
  color: #1d738d;
}

.footer {
  background-color: #000;
}

.footer-text {
  color: #fff;
  margin-bottom: 0px;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.product-list-price {
  font-size: 1.25rem;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.logo-container {
  width: 150px;
}
